/*!
Theme Name: lingolang
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: lingolang
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

lingolang is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

.logo_side .logo_subtitle h4 {
    max-width: 125px;;
}

#call_back br,
#registration br,
#login br {
    display: none;
}

.likes {
	position: relative;
}

.likes > span *:not(button) {
	display: contents!important;
}

.likes > span button::before,
.likes > span button::after {
	display: none!important;
}

.likes > span button {
	width: 100%;
	height: 100%;
	padding: 0!important;

	position: absolute!important;
	top: 0!important;
	right: 0!important;
	bottom: 0!important;
	left: 0!important;
}

.likes .count-box::after {
    content: "+";
    position: absolute;
    right: 0;
    color: #fff;
}

.pagination span.current .page_number {
	background-color: #fff;
	color: #D22030;
}

#call_back .checkbox > p > label {
	display: flex;
	flex-wrap: wrap;
}

#call_back .checkbox > p > label > span {
	max-width: calc(100% - 40px);
}

#call_back .checkbox > p > label > span {
	margin: 0;
}

#call_back.contact_form .placeholder {
	top: auto;
    bottom: 40px;
}

#call_back .wpcf7-not-valid-tip {
    position: absolute;
    width: max-content;
    top: -20px;
}

#call_back .wpcf7-not-valid,
#call_back .wpcf7-not-valid input[type="checkbox"]:not(:checked) {
    border-color: #EB2136;
}

.header .contacts .test .test_btn {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #D22030;
}

.checkbox .wpcf7-list-item.first.last {
	margin: 0!important;
}

@media (min-width: 880px) {
	.header .main_menu {
		padding-top: 0;
	}

	.header .menu_list > .menu_item {
		padding-top: 32px;
		position: relative;
		line-height: 22px;
	}
	
	.header .main_menu::before {
		display: none;
	}
	
	.header .main_menu .current-menu-parent::before, 
	.header .main_menu .current-menu-item::before {
		display: block;
		content: '';
		width: 100%;
		height: 3px;
		position: absolute;
		top: 0;
		left: 0;
		background: #D22030;
	}
	
	.header .main_menu .current-menu-parent > a, 
	.header .main_menu .current-menu-parent > span, 
	.header .main_menu .current-menu-item > a,
	.header .main_menu .current-menu-item > span {
		color: #EB2136;
		transition: all 0s;
	}
	
	.course_category .category_list .category_item.current a:hover {
		color: #000;
	}

	.header .main_menu .menu_item.has_dropdown:after {
		top: calc(50% - 1px);
	}
}

.online_test .test_block .option .check {
    margin-top: 0;
    margin-left: 0;
}