@import "fonts.css";

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font: 400 16px 'Open Sans', Arial, sans-serif;
    line-height: 1.2;
    color: #222;
    position: relative;
}

* {
    box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0 0 0 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #222222;
    transition: border 0.3s, color 0.3s, background-color 0.3s, text-decoration 0.3s;
}

img {
    display: block;
    width: 100%;
}

svg {
    transition: fill 0.3s;
}


.collapse:after {
    content: "";
    display: block;
    clear: both;
    overflow-y: hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

input, textarea, button, select {
    outline: none !important;
    font-family: 'Open Sans', Arial, sans-serif;
    box-sizing: border-box;
}

input[type=submit], input[type=button], button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
}

.no-display,
.mobile,
.burger_menu,
.buttons.mobile,
.header .social_net.mobile {
    display: none;
}

.container_flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between;
    align-items: center;
}

.header {
    background: #fff;
    position: relative;
    z-index: 3;
}

.header .container,
.courses_page .container,
.skype_page .container,
.article .container {
    max-width: 1200px;
}

.logo_side {
    display: flex;
    align-items: center;
}

.logo_side .logo {
    width: 183px;
    margin-right: 15px;
}


.logo_side .logo_subtitle {
    padding-left: 15px;
    position: relative;
}

.logo_side .logo_subtitle:before {
    display: block;
    content: '';
    width: 1px;
    background-color: #222222;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.logo_side .logo_subtitle h4 {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
}

.header .nav_side {
    width: 65.75%;
}

.header .contacts {
    padding: 14px 0 16px;
    justify-content: flex-end;
    position: relative;
}

.header .contacts:before {
    display: block;
    content: '';
    width: 120%;
    height: 1px;
    background-color: #E2E2E2;
    position: absolute;
    bottom: 0;
    right: -20%;
}

.header .contacts .test a {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #D22030;
}

.header .contacts .account {
    margin: 0 59px 0 42px;
}

.header .acc_btn {
    display: block;
    padding: 9px 12px 11px 13px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #D22030;
    border-radius: 6px;
    color: #222222;
}

.header .acc_btn:hover {
    background-color: #D22030;
    color: #fff;
}

.header .contacts .phone {
    display: flex;
    align-items: center;
}

.header .contacts .test a:hover,
.header .contacts .phone:hover .phone_number,
.header .contacts .phone:hover .phone_icon {
    color: #222;
    fill: #222;
}

.header .contacts .phone_icon {
    margin-right: 15px;
    width: 14px;
    fill: #EB2136;
}

.header .contacts .phone_number {
    display: block;
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
    color: #EB2136;
}

.header .main_menu {
    padding-top: 32px;
    position: relative;
}

.header .main_menu:before {
    display: block;
    content: '';
    width: 48px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: #D22030;
}

.header .main_menu ul {
    padding-left: 0;
    list-style: none;
}

.header .main_menu .menu_item.has_dropdown,
.breadcrumds_wrapper .breadcrumb li a {
    position: relative;
    padding-right: 20px;
}

.header .main_menu .menu_item.has_dropdown:after,
.breadcrumds_wrapper .breadcrumb li a:after,
.category_list .category_item.more a {
    display: block;
    content: '';
    width: 8.5px;
    height: 8.5px;
    position: absolute;
    right: 0;
    bottom: 4px;
    background: url("../images/arrow.svg") no-repeat center;
    background-size: contain;
}

.header .main_menu .menu_item.has_dropdown:after {
    bottom: auto;
    top: 9px;
}

.header .main_menu .sub-menu {
    position: absolute;
    left: -42px;
    top: 100%;
    opacity: 0;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    z-index: 5;
}

.header .main_menu .menu_item a {
    line-height: 22px;
}

.header .menu_list > .menu_item {
    padding-bottom: 30px;
}

.header .main_menu .menu_item:first-child {
    cursor: pointer;
}


.header .main_menu .menu_list > .menu_item.has_dropdown.active .sub-menu {
    opacity: 1;
    transform: scaleY(1);
}

.header .main_menu li.active > a {
    color: #EB2136;
}

.header .menu_list .sub-menu .menu_item a {
    width: 240px;
    display: block;
    padding: 8px 0 12px 41px;
}

.header .menu_list .sub-menu .menu_item:not(:last-child) {
    border-bottom: 1px solid #FFF2F2;
}

.header .menu_list .sub-menu .menu_item:last-child a {
    border-radius: 0 0 4px 4px;
}

@media (min-width: 1024px) and (max-width: 2400px) {
    .header .main_menu .menu_list > .menu_item:hover .sub-menu {
        opacity: 1;
        transform: scaleY(1);
    }

    .header .main_menu li a:hover {
        color: #EB2136;
    }
}

.header .menu_list .sub-menu .menu_item a:hover {
    background: #EB2136;
    color: #fff;
}

.flag {
    position: relative;
}

.flag .container {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 200px;
}


.main_section {
    overflow: hidden;
    background: url("../images/main-back.svg") repeat-x center bottom;
}

.flag .slogan {
    position: relative;
    bottom: 24px;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #EB2136;
    opacity: 0.8;
}

.flag .flag_icon {
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

.presentation {
    padding-bottom: 212px;
}

.presentation .title_side {
    width: 53%;
}

.presentation .title_side h1 {
    margin-bottom: 80px;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-weight: 900;
    font-size: 55px;
}

.presentation .buttons,
.header .wrap_mob .buttons {
    justify-content: flex-start;
}

.presentation .buttons a,
.courses .course_item .buttons a,
.course_item_modal .about_course .buy_btn,
.grammar_page .grammar_lesson .buy_btn,
.online_test .test_block .next_btn,
.header .wrap_mob .buy_btn,
.header .wrap_mob .skype_btn {
    display: block;
    width: 240px;
    padding: 20px 0;
    background: #EB2136;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border: 1px solid #EB2136;
    border-radius: 4px;
}

.presentation .buttons .skype_btn,
.courses .course_item .buttons .about,
.header .wrap_mob .skype_btn {
    margin-left: 30px;
    background-color: #fff;
    color: #EB2136;
}

.presentation .buttons .buy_btn:hover,
.courses .course_item .buttons .buy_btn:hover,
.course_item_modal .about_course .buy_btn:hover,
.grammar_page .grammar_lesson .buy_btn,
.online_test .test_block .next_btn:hover {
    background: #fff;
    color: #EB2136;
}

.presentation .buttons .skype_btn:hover,
.courses .course_item .buttons .about:hover,
.grammar_page .grammar_lesson .buy_btn:hover {
    background: #EB2136;
    color: #fff;
}

.presentation .buttons a {
    font-weight: 600;
}

.presentation .video_block {
    margin-top: 30px;
    width: 46.9%;
    position: relative;
}

.presentation .video_block .substrate {
    margin-bottom: 16px;
    max-height: 344px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.presentation .video_block .substrate a,
.video_lessons_page .video_block .substrate a {
    display: block;
    overflow: hidden;
}

.presentation .video_block .play_icon,
.video_lessons_page .video_block .play_icon {
    width: 86.15px;
    height: 86.15px;
    position: absolute;
    top: calc(50% - 43.075px);
    left: calc(50% - 43.075px);
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.presentation .video_block .play_icon:hover,
.video_lessons_page .video_block .play_icon:hover {
    background: rgba(255, 255, 255, 0.4);
}

.presentation .video_block .play_icon:before,
.video_lessons_page .video_block .play_icon:before {
    display: block;
    content: '';
    width: 107.7px;
    height: 107.7px;
    position: absolute;
    top: calc(50% - 53.85px);
    left: calc(50% - 53.85px);
    border: 1px solid #FFFFFF;;
    background: transparent;
    border-radius: 50%;
    box-sizing: border-box;
}

.presentation .video_block .play_icon:after,
.video_lessons_page .video_block .play_icon:after {
    display: block;
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    top: calc(50% - 17px);
    left: calc(50% - 14px);
    background: url("../images/play.svg") no-repeat center;
    background-size: contain;
    box-sizing: border-box;
}

.presentation .video_block .short_descr {
    font-size: 14px;
    font-weight: 600;
    color: #EB2136;
}

.footer {
    padding: 50px 0 51px;
    background: #222222;
}

.footer .container {
    max-width: 1226px;
    align-items: flex-start;
}

.footer .col-3 {
    padding: 0 15px;
}

.footer .social_net,
.header .social_net {
    display: flex;
    flex-wrap: wrap;
}

.footer .social_net a,
.header .social_net a {
    display: block;
    width: 24px;
    margin-right: 20px;
}

.footer .social_net .left,
.header .social_net .left {
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.38);
}

@media (min-width: 1024px) and (max-width: 2400px) {
    .footer .social_net .left a:hover svg,
    .header .social_net .left a:hover svg {
        fill: #fff;
    }

    .footer .social_net .right a:hover svg,
    .header .social_net .right a:hover svg {
        fill: #EB2136;
    }
}

.footer .social_net .left,
.footer .social_net .right,
.header .social_net .left,
.header .social_net .right {
    display: flex;
    flex-wrap: wrap;
}

.footer .social_net .right,
.header .social_net .right {
    margin-left: 32px;
}

.footer .social_net .left svg,
.header .social_net .left svg,
.header .social_net .right svg {
    fill: #EB2136;
}

.footer .social_net .right svg {
    fill: #FFF2F2;
}

.footer .copyright {
    margin-top: 46px;
}

.footer .copyright p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #a79f9f;
}

.footer .copyright p:last-of-type {
    margin-bottom: 0;
}


.footer .contacts .contact,
.header .wrap_mob .contact {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.footer .contacts .contact svg,
.header .wrap_mob .contact svg {
    margin-right: 16px;
    fill: #fff;
    width: 24px;
}

.footer .contacts .contact .address_icon {
    margin-right: 10px;
}

.footer .contacts .contact .phone_icon,
.header .contacts .contact .phone_icon {
    width: 12px;
}

.footer .contacts .contact .email_icon,
.header .contacts .contact .email_icon {
    width: 16px;
}

.footer .contacts .contact p,
.footer .contacts .contact a,
.header .wrap_mob .contact p,
.header .wrap_mob .contact a {
    color: #FFF2F2;
    font-size: 14px;
    line-height: 1.4;
}

.footer .contacts .contact:hover a,
.footer .contacts .contact:hover p,
.footer .contacts .contact:hover svg {
    color: #EB2136;
    fill: #EB2136;
}

.footer .request p {
    margin-bottom: 20px;
    color: #FFF2F2;
    font-size: 14px;
    line-height: 1.4;
}

.footer .request .request_btn {
    padding: 11px 0;
    display: block;
    width: 155px;
    background: #EB2136;
    border: 2px solid #EB2136;
    border-radius: 6px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.footer .request .request_btn:hover {
    background-color: #fff;
    color: #EB2136;
}

/* Breadcrumbs */

.breadcrumds_wrapper {
    padding: 27px 0 60px;
}

.breadcrumds_wrapper .breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 19px;
    position: relative;
    list-style: none;
}

.breadcrumds_wrapper .breadcrumb:before {
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    top: calc(50% - 5.5px);
    left: 0;
    background: url("../images/breadcrumb-icon.svg") no-repeat center;
    background-size: contain;
}

.breadcrumds_wrapper .breadcrumb li {
    margin-right: 14px;
    line-height: 22px;
}

.breadcrumds_wrapper .breadcrumb li:last-child {
    margin-right: 0;
}

.breadcrumds_wrapper .breadcrumb li a,
.breadcrumds_wrapper .breadcrumb li span {
    padding-right: 21px;
    color: #7a7a7a;
}

.breadcrumds_wrapper .breadcrumb li:first-child a {
    color: #4e4e4e;
}

.breadcrumds_wrapper .breadcrumb li a:after {
    top: calc(50% - 2.25px);
    transform: rotate(-90deg);
}


/* Courses */

.page_title .title,
.article .article_content .article_title h1,
.article .article_content h2,
.article .article_content h3,
.article .article_content h4,
.online_test .test_block.test_result .title h2 {
    margin-bottom: 26px;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.course_category .category_list {
    padding-left: 0;
    justify-content: flex-start;
    list-style: none;
}

.course_category .category_list .category_item {
    margin-right: 40px;
    padding-bottom: 13px;
    line-height: 22px;
}

.course_category .category_list .category_item a:hover {
    color: #D22030;
}

.course_category .category_list .category_item.current {
    font-weight: 700;
    border-bottom: 3px solid #EB2136;
}

.course_category .category_list .category_item:last-child {
    margin-right: 0;
}

.main_section.courses {
    padding: 75px 0 200px;
    background: rgba(246, 241, 241, 0.5) url("../images/main-back-courses.svg") repeat-x center bottom;;
}

.main_section.courses .subtitle {
    margin-bottom: 30px;
}

.main_section.courses .subtitle h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.main_section.courses .subtitle .quantity {
    position: relative;
    top: -5px;
    font-size: 10px;
    font-weight: 400;
    color: #D22030;
}

.courses .courses_list .course_item {
    width: 48.333%;
    margin-bottom: 100px;
}

.courses .courses_list .image_wrap {
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.courses .courses_list .image,
.course_item_modal .image_wrap .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 74.2%;
}

.courses .course_item .level {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
}

.courses .course_item .level p,
.course_item_modal .level p {
    position: relative;
    top: -4px;
    padding: 6px 0;
    background: #fff;
    text-align: center;
    font-size: 12px;
    color: #EB2136;
}

.courses .course_item .title_wrap {
    padding: 0 150px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(34, 34, 34, 0.6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.courses .course_item .title_wrap h3,
.course_item_modal .about_course .title h3,
.course_item_modal .image_wrap .title_wrap h3,
.grammar_page .grammar_lesson .title_wrap h3,
.grammar_page .grammar_lesson .about_course h3,
.blog .blog_item .blog_title h3 {
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
}

.courses .course_item .course_info {
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courses .course_item .price_wrap {
    display: flex;
    flex: 1;
}

.courses .course_item .price_wrap p,
.courses .course_item .price_wrap span,
.grammar_page .grammar_lesson .price {
    margin-right: 24px;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #bab8b8;
}

.courses .course_item .price_wrap span,
.grammar_page .grammar_lesson .price {
    margin-right: 0;
    display: inline-block;
    font-weight: 700;
    color: #222;
}

.courses .course_item .course_composition,
.course_item_modal .course_composition {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 14px;
    color: #848282;
}

.courses .course_item .course_composition .modules,
.courses .course_item .course_composition .lessons,
.course_item_modal .course_composition .modules,
.course_item_modal .course_composition .lessons {
    position: relative;
    padding-left: 20px;
}

.courses .course_item .course_composition .modules {
    margin-right: 32px;
}

.courses .course_item .course_composition .modules:before,
.courses .course_item .course_composition .lessons:before,
.course_item_modal .course_composition .modules:before,
.course_item_modal .course_composition .lessons:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: url("../images/modules.svg") no-repeat center;
    background-size: contain;
}

.courses .course_item .course_composition .lessons:before,
.course_item_modal .course_composition .lessons:before {
    background: url("../images/lessons.svg") no-repeat center;
    background-size: contain;
}

.courses .course_item .buttons {
    padding-right: 50px;
}

.courses .course_item .buttons a {
    padding: 20.5px;
    font-weight: 400;
}

.courses .pagination .page_numbers {
    justify-content: center;
    align-items: stretch;
    list-style: none;
}

.courses .pagination .page_numbers li {
    margin-right: 10px;
    display: block;
}

.courses .pagination .page_number,
.courses .pagination .page_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #D22030;
    border: 2px solid #D22030;
    border-radius: 50%;
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.courses .pagination .page_number.current,
.courses .pagination .page_number:hover {
    background-color: #fff;
    color: #D22030;
}

.courses .pagination .page_number svg {
    width: 15px;
    height: 15px;
    fill: #fff;
    position: relative;
    left: 1px;
}

.courses .pagination .page_number:hover svg {
    fill: #D22030;
}

/* Модальное окно О курсе */

.course_item_modal {
    width: 900px;
    padding: 0;
    border-radius: 10px;
}

.course_item_modal .about_course {
    width: 67.8%;
    padding: 70px 30px 80px 50px;
}

.course_item_modal .image_wrap {
    position: relative;
}

.course_item_modal .image_wrap .course_info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 30px 47px;
}


.course_item_modal .content {
    display: flex;
    flex-wrap: wrap;
}

.course_item_modal .about_course .title h3 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 900;
    color: #000;
}

.course_item_modal .about_course .description {
    margin-bottom: 57px;
}

.course_item_modal .about_course .description p,
.grammar_page .grammar_lesson .about_course .description p {
    line-height: 1.4;
    margin-bottom: 15px;
}

.course_item_modal .about_course .buy_btn,
.online_test .test_block .next_btn {
    width: 350px;
}

.course_item_modal .image_wrap {
    flex: 1;
}

.course_item_modal .level {
    width: 120px;
}

.course_item_modal .image_wrap .image {
    padding-bottom: 175%;
}

.course_item_modal .image_wrap .level,
.course_item_modal .image_wrap .title_wrap {
    margin-bottom: 15px;
}

.course_item_modal .image_wrap .title_wrap h3 {
    font-size: 20px;
}

.course_item_modal .course_composition {
    color: rgba(255, 255, 255, 0.5);
}

.course_item_modal .course_composition .modules {
    margin-right: 30px;
}


.course_item_modal .fancybox-close-small {
    padding: 5px;
    width: 40px;
    height: 40px;
    top: 30px;
    border-radius: 50%;
    background: rgba(235, 33, 54, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    right: 30px;
    opacity: 1;
}

.course_item_modal .fancybox-button svg path {
    fill: #fff;
}

/* Skype Page */

.skype_page .presentation {
    padding-top: 30px;
    padding-bottom: 0;
    background-image: url("../images/skype-back.svg");
    background-repeat: no-repeat;
    background-position: 3% bottom;
}

.skype_page .presentation .flag {
    margin-bottom: 30px;
}

.skype_page .presentation .flag_icon {
    width: 270px;
    position: relative;
}

.skype_page .presentation .video_block {
    margin-top: 0;
    width: 65.7%;
    max-height: 505px;
}

.skype_page .presentation .video_block .substrate {
    margin-bottom: 22px;
    max-height: 466px;
}

.skype_page .presentation .title_side {
    width: 29.2%;
}

.skype_page .presentation .title_side h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
}

.skype_page .page_title {
    padding-top: 93px;
}

.main_section.skype_courses {
    background: rgba(246, 241, 241, 0.5);
}

.courses.skype_courses .course_item .course_info .course_composition {
    flex: none;
}

.courses.skype_courses .course_item .course_info {
    align-items: flex-start;
}

.courses.skype_courses .course_item .title_wrap {
    padding: 0 15px;
}

.courses.skype_courses .course_item .level p {
    top: 20px;
    right: 20px;
    background: #259821;
    color: #fff;
}

.courses.skype_courses .course_info .schedule p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #8f8d8d;
}

.courses.skype_courses .course_info .schedule span {
    margin-bottom: 10px;
    padding-left: 30px;
    display: block;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
}

.courses.skype_courses .course_info .schedule span:last-of-type {
    margin-bottom: 0;
}

.courses.skype_courses .course_info .schedule span:before {
    display: block;
    content: '';
    position: absolute;
    top: calc(50% - 7.5px);
    left: 0;
    width: 15px;
    height: 15px;
    background: url("../images/calendar.svg") no-repeat center;
    background-size: contain;
}

.courses.skype_courses .course_info .schedule .time {
    font-weight: 600;
}

.courses.skype_courses .course_info .schedule .time:before {
    background: url("../images/clock.svg") no-repeat center;
    background-size: contain;
}

.courses.skype_courses .course_item .buttons {
    padding: 0;
}

/* Free Lessons Page */

.video_lessons_page .main_section,
.main_section.blog {
    background-image: none;
}

.video_lessons_page .video_lessons_list,
.blog .blog_list{
    align-items: flex-start;
}


.video_lessons_page .video_lesson_item,
.blog .blog_item {
    width: 31.7%;
    margin-bottom: 50px;
    position: relative;
}

.video_lessons_page .video_block,
.blog .blog_item .image_block {
    margin-bottom: 20px;
    max-height: 220px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

.video_lessons_page .video_block .substrate {
    overflow: hidden;
    width: 100%;
}

.video_lessons_page .video_block .substrate a {
    border-radius: 4px;
}

.video_lessons_page .video_lesson_item .duration {
    padding: 1px 3px 2px;
    display: block;
    position: absolute;
    bottom: 14px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    text-align: center;
    font-size: 6px;
    color: #259821
}

.video_lessons_page .video_lesson_item .video_scale {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: #E2E2E2;
    border-radius: 0 0 4px 4px;
}

.video_lessons_page .video_lesson_item .progress_bar {
    width: 15%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #D22030;
    border-radius: 0 4px 4px 4px;
}

.video_lessons_page .video_block .play_icon {
    width: 41.6px;
    height: 41.6px;
    top: calc(50% - 20.8px);
    left: calc(50% - 20.8px);
}

.video_lessons_page .video_block .play_icon:before {
    width: 52px;
    height: 52px;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
}

.video_lessons_page .video_block .play_icon:after {
    width: 19px;
    height: 19px;
    top: calc(50% - 9.5px);
    left: calc(50% - 7.5px);
}

.video_lessons_page .video_lesson_item .lesson_title {
    padding-right: 80px;
}

.video_lessons_page .video_lesson_item .lesson_title h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

/* Webinars */

.webinars_page .webinar_lessons .video_lesson_item .video_info,
.blog .blog_item .blog_info .head_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.webinars_page .webinar_lessons .video_lesson_item .lesson_title {
    padding-right: 0;
    width: 78%;
}

.webinars_page .webinar_lessons .video_lesson_item .video_info .date,
.blog .blog_item .blog_info .date,
.article .article_info .date {
    font-size: 12px;
    line-height: 1.4;
    color: #259821;
}

.webinars_page .webinar_lessons .video_lesson_item.close .video_block img {
    filter: blur(4px);
    border-radius: 4px;
}

.webinars_page .webinar_lessons .video_lesson_item.close .play_icon {
    z-index: 3;
}

.webinars_page .webinar_lessons .video_lesson_item.close .play_icon:after {
    background: url("../images/lock.svg") no-repeat center;
    background-size: contain;
    left: calc(50% - 9.5px);
}

/* Grammar Page */
.grammar_page .grammar_lessons_list {
    margin-bottom: 50px;
}

.grammar_page .grammar_lesson {
    margin-bottom: 20px;
}

.grammar_page .grammar_lesson .lesson_head {
    padding: 47px 60px 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    background: #fff;
    cursor: pointer;
}

.grammar_page .grammar_lesson .lesson_head.open .buy_btn {
    background: #D22030;
    color: #fff;
}


.grammar_page .grammar_lesson .lesson_head.open .buy_btn:hover {
    background: #fff;
    color: #D22030;
}

.grammar_page .grammar_lesson .lesson_head .level {
    margin-bottom: 15px;
}

.grammar_page .grammar_lesson .lesson_head .level p {
    width: 120px;
    padding: 6px 10px;
    background: #259821;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.grammar_page .grammar_lesson .lesson_head .course_info p {
    font-size: 14px;
    color: #909090;
}

.grammar_page .grammar_lesson .lesson_body {
    display: none;
    padding: 41px 65px 39px;
    background: #fdfcfc;
    border-top: 1px solid #222222;
}

.grammar_page .grammar_lesson .title_wrap h3,
.grammar_page .grammar_lesson .about_course h3 {
    font-size: 20px;
    color: #222;
}

.grammar_page .grammar_lesson .about_course h3 {
    margin-bottom: 25px;
    font-weight: 700;
}

.grammar_page .grammar_lesson .about_course .description {
    width: 71.9%;
}

/* Blog Page */

.category_list .category_item.more a {
    position: relative;
    bottom: auto;
    top: 2px;
    transform: rotate(-90deg);
}

.blog .blog_item,
.blog .blog_info,
.blog .blog_item .image_block,
.blog .blog_item .image_block a,
.blog .blog_item .image_block img {
    transition: all ease-in-out .5s;
}

.blog .blog_item {
    margin-bottom: 68px;
}

.blog .blog_item .category,
.article .article_info .category {
    display: block;
    padding: 6px 10px;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    background: #259821;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.blog .blog_item .image_block a {
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.blog .blog_item .blog_info,
.blog .blog_item .blog_info .social,
.article .article_info .social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog .blog_item .blog_info .head_info {
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
}

.blog .blog_item .social,
.article .article_info .social {
    justify-content: flex-start;
    align-items: center;
}

.blog .blog_item .social .likes,
.blog .blog_item .social .views {
    display: flex;
    align-items: center;
}

.blog .blog_item .social .likes,
.article .article_info .social .likes {
    margin-right: 20px;
}

.blog .blog_item .social span,
.article .article_info .social span {
    font-size: 12px;
    color: #c4c2c2;
}

.blog .blog_item .social svg,
.article .article_info .social svg {
    margin-right: 6px;
    fill: #222;
}

.blog .blog_item .social .likes svg,
.article .article_info .social .likes svg {
    fill: #D22030;
}

.blog .blog_item .blog_title h3 {
    max-width: 350px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
}

.blog .blog_item .short_description {
    padding-right: 30px;
    font-size: 14px;
    color: #000000;
}


.blog .blog_item:hover {
    height: 390px;
    overflow: hidden;
    border-radius: 4px;
}

.blog .blog_item:hover .image_block a {
    overflow: visible;
}

/*.blog .blog_item:hover .image_block {*/
/*height: 390px;*/
/*max-height: 390px;*/
/*}*/

.blog .blog_item:hover img {
    height: 390px;
    object-fit: cover;
}

.blog .blog_item:hover .image_block {
    align-items: flex-start;
    overflow: visible;
    margin: 0;
}

.blog .blog_item:hover .blog_info {
    padding: 17px 20px 18px 25px;
    position: absolute;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 4px;
    width: 93%;
    margin-left: 16px;
}

.blog .blog_item:hover .blog_info .head_info {
    margin-bottom: 15px;
}

.blog .blog_item:hover .date,
.blog .blog_item:hover .social span,
.blog .blog_item:hover .social .likes,
.blog .blog_item:hover .social svg,
.blog .blog_item:hover .blog_title h3 {
    color: #fff;
    fill: #fff;
}

.blog .blog_item:hover .blog_title h3 {
    max-width: 300px;
}

.blog .blog_item:hover .short_description {
    display: none;
}


/* Article Page */

.article .breadcrumds_wrapper {
    margin-bottom: 30px;
}

.article .main_section {
    background-color: #fff;
    padding-bottom: 120px;
}

.article .artice_background {
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article .article_content .article_info {
    margin-top: -100px;
    margin-bottom: 70px;
    padding: 40px 82px 60px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.article .article_content .article_info .head_info {
    width: 55.1%;
    margin-bottom: 55px;
    align-items: flex-end;
}

.article .article_info .category {
    position: static;
}

.article .article_content .article_title {
    width: 67.5%;
    color: #000;
}

.article .article_content .article_title h1,
.article .article_content h2,
.article .article_content h3,
.article .article_content h4 {
    margin-bottom: 20px;
    color: #000;
}

.article .article_content h2,
.article .article_content h3,
.article .article_content h4 {
    width: 57.5%;
    padding-left: 80px;
    box-sizing: content-box;
}

.article .article_content .short_description,
.article .article_content p {
    padding-left: 0;
    padding-right: 0;
    width: 86%;
    font-size: 18px;
}

.article .article_content p {
    padding-left: 80px;
    width: 65.85%;
    margin-bottom: 20px;
    box-sizing: content-box;
}

.article .article_content .fullwidth_image {
    margin: 80px 0;
    border-radius: 4px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.article .article_content .left,
.article .article_content .right {
    margin: 80px 0;
    width: 47.5%;
    height: 600px;
    border-radius: 4px;
    object-fit: cover;
}

.article .article_content .left {
    float: left;
}

.article .article_content .right {
    float: right;
}

/* Online Test Page */

.main_section.online_test {
    padding: 69px 0 200px;
    background: rgba(246, 241, 241, 0.5);
}

.online_test .test_block {
    padding: 45px 60px 60px 58px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff;
}

.online_test .test_block .questions_side {
    width: 53.5%;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
}

.online_test .test_block .questions_qty {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    color: #259821;
    font-size: 16px;
    font-weight: 300;
}

.online_test .test_block .questions_qty p {
    padding-left: 30px;
}

.online_test .test_block .questions_qty span {
    font-weight: bold;
    font-size: 20px;
}

.online_test .test_block .progress_bar {
    margin-bottom: 58px;
    background: #E2E2E2;
    border-radius: 100px;
    height: 10px;
    position: relative;
}

.online_test .test_block .progress_bar .current_progress {
    position: absolute;
    width: 10%;
    height: 100%;
    background: #D22030;
    border-radius: 100px;
}

.online_test .test_block .current_question {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 300;
    color: #909090;
}

.online_test .test_block .question_wrap {
    margin-bottom: 50px;
}

.online_test .test_block .question_wrap h2 {
    margin-bottom: 40px;
    font-size: 22px;
    color: #000;
}

.online_test .test_block .options {
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: "Open Sans", Arial, sans-serif;
}

.online_test .test_block .option {
    margin-bottom: 30px;
    color: #222222;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.online_test .test_block .option .check {
    display: block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    position: relative;
}

.online_test .test_block .option .check:checked + span {
    color: #259821;
}

.online_test .test_block .option .check:checked::before {
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    top: calc(50% - 5.5px);
    left: calc(50% - 4.5px);
    background: url("../images/check-test.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.online_test .test_block .next_btn {
    font-weight: 400;
    font-family: "Open Sans", Arial, sans-serif;
}

.online_test .test_block .instruction {
    margin-top: 34px;
    padding: 53px 43px 50px 63px;
    width: 37.5%;
    background: #FFF2F2;
    border-radius: 4px;
}

.online_test .test_block .instruction ul {
    padding-left: 0;
    list-style: none;
}

.online_test .test_block .instruction ul li {
    margin-bottom: 20px;
    padding-left: 18px;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
}

.online_test .test_block .instruction ul li:before {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    background: #EB2136;
    transform: rotate(-45deg);
}

/* Online Test Result */

.online_test .test_block.test_result {
    flex-direction: column;
    align-items: center;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
}

.online_test .test_block.test_result .title {
    margin-bottom: 80px;
}

.online_test .test_block.test_result.failed .title h2 {
    color: #EB2136;
    margin-bottom: 0;
    text-align: center;
}

.online_test .test_block.test_result.passed .title h2 {
    color: #259821;
}

.online_test .test_block.test_result .answer_statistic {
    margin-bottom: 80px;
    width: 46.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.online_test .test_block.test_result .answer_statistic h3 {
    margin-bottom: 30px;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.online_test .test_block.test_result .answer_statistic .diagram {
    width: 160px;
    height: 160px;
    border: 6px solid rgba(37, 152, 33, 0.1);
    border-radius: 50%;
    position: relative;
}

.online_test .test_block.test_result .answer_statistic .correct {
    position: relative;
    padding-right: calc(50% - 155px);
}

.online_test .test_block.test_result .answer_statistic .correct:after {
    display: block;
    content: '';
    width: 1px;
    height: 150px;
    background: #E2E2E2;
    position: absolute;
    top: 31px;
    right: 0;
}

.online_test .test_block.test_result .answer_statistic .progress {
    display: block;
}

.online_test .test_block.test_result .answer_statistic .percent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #259821;
}

.online_test .test_block.test_result .answer_statistic .mistakes .percent {
    color: #EB2136;
}

.online_test .test_block.test_result .circle {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(37, 152, 33, 0.1);
    stroke-width: 6;
    position: relative;
}

.online_test .test_block.test_result .circle svg {
    transform: rotate(90deg);
}

.online_test .test_block.test_result circle:nth-child(2n) {
    fill: rgba(0, 0, 0, 0);
    stroke: #259821;
    stroke-width: 6;
}

.online_test .test_block.test_result .mistakes circle:nth-child(2n) {
    stroke: #EB2136;
}

/* Error 404 Page */

.main_section.error {
    height: 960px;
    padding-top: 100px;
    background: rgba(246, 241, 241, 0.5) url("../images/404-back.svg") no-repeat center bottom;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
}

.main_section.error h2 {
    margin-bottom: 25px;
    font-size: 120px;
    color: #000000;
}

.main_section.error h3 {
    margin-bottom: 40px;
    font-size: 30px;
}

.main_section.error p {
    font-size: 20px;
    color: #EB2136;
}

/* Модальные окна */

.contact_form {
    padding: 70px 50px 80px;
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
}

.contact_form .registration,
.contact_form .login_form {
    margin-bottom: 40px;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contact_form h4 {
    margin-bottom: 36px;
    padding-left: 10px;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
}

#registration h4 {
    margin-bottom: 21px;
}

.contact_form h4 .red {
    color: #eb2136;
}

.contact_form .subtitle {
    margin-bottom: 40px;
    padding-left: 10px;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: #222222;
}

.contact_form p {
    position: relative;
}

.contact_form input[type="text"],
.contact_form input[type="tel"],
.contact_form input[type="email"],
.contact_form input[type="password"] {
    margin-bottom: 20px;
    width: 100%;
    height: 54px;
    padding-left: 20px;
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    background: transparent;
    color: #222222;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    z-index: 2;
    position: relative;
}

.contact_form input[type="submit"] {
    width: 100%;
    padding: 19px 0;
    background: #EB2136;
    border-radius: 4px;
    border: 2px solid transparent;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.contact_form .checkbox {
    margin-bottom: 40px;
    padding: 0;
    border: none;
}

.contact_form .checkbox p {
    display: flex;
    flex-wrap: wrap;
}

.contact_form .checkbox input[type="checkbox"] {
    display: block;
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
}

.contact_form .checkbox label {
    flex: 1;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: #222222;
}

.contact_form .checkbox label a {
    text-decoration: underline;
}

.contact_form .checkbox input[type="checkbox"]:checked {
    border: 1px solid #259821;
}

.contact_form .checkbox input[type="checkbox"]:before {
    opacity: 0;
    transition: .3s;
}

.contact_form .checkbox input[type="checkbox"]:checked:before {
    content: '';
    width: 10.7px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 5.35px);
    background: url("../images/check.svg") no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: .3s;
}

.contact_form input[type="submit"]:hover {
    background: #fff;
    border-color: #EB2136;
    color: #EB2136;
}

.contact_form .login,
#login .registration_btn,
#login .forgot_password {
    display: block;
    font-family: "Museo Sans Cyrillic", "Open Sans", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
}

#login .forgot_password {
    margin-bottom: 15px;
}

.contact_form .login a,
#login .registration_btn {
    color: #259821;
}

#login h4 {
    margin-bottom: 29px;
}


/* Placeholder */

.contact_form .placeholder {
    position: absolute;
    top: calc(50% - 19px);
    left: 20px;
    color: #a7a7a7;
    font-size: 14px;
    line-height: 1.2;
    transition: all ease-in-out 0.3s;
    z-index: 0;
}

.contact_form input[type="text"]:focus + .placeholder,
.contact_form input[type="tel"]:focus + .placeholder,
.contact_form input[type="email"]:focus + .placeholder,
.contact_form input[type="password"]:focus + .placeholder {
    padding: 0 9px;
    top: -6px;
    left: 11px;
    font-size: 10px;
    background: #fff;
    z-index: 2;
}

.contact_form .password-control {
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    right: 20px;
    width: 14px;
    height: 14px;
    background: url('../images/eye-close.svg') 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
}

.contact_form .password-control.view {
    width: 15px;
    height: 15px;
    top: calc(50% - 16.5px);
    right: 19px;
    background: url('../images/eye-open.svg') 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
